.main-student-table {
  display: flex;
  height: 100vh;
}
.student-table {
  width: 1920px;
}

/* student-table__main */
.student-table__main {
  display: flex;
  justify-content: space-around;
}

.student-table__mainstudents {
  height: 750px;
  width: 1346px;
}

.student-table__main--header {
  display: flex;
  justify-content: space-between;
}

.student-table__mainheader--firstbox :first-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-right: 24px;
}

.student-table__mainheader--firstbox :nth-child(2) {
  background-color: #e6e6ea;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 343px;
  padding: 12px;
}
.student-table__mainheader--firstbox :nth-child(2)::placeholder {
  color: #8c909c;
  width: 283px;
  height: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.student-table__main--button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e6e6ea;
  border-radius: 8px;
  display: flex;
  height: 40px;
  margin: 0px 15px;
  padding: 5px 14px 5px 10px;
  width: 168px;
}
.student-table__mainsortfield--btn {
  display: flex;
  align-items: center;
  border: 0;
  background-color: white;
  color: #a5a8b3;
}

.student-table__mainsortfield {
  align-items: center;
  display: grid;
  font-family: Raleway;
  font-size: 11px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 40px;
  line-height: 13px;
  width: 1346px;
  color: #a5a8b3;
}

.studentdata {
  align-items: center;
  display: grid;
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 13px;
  width: 1346px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.student-table__mainfilter {
  width: 330px;
  height: 647px;
  background-color: #ffffff;
}
