.student-table__header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  width: 1722px;
}

.student-table__header--title {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  height: 16px;
  width: 298px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  padding: 20px;
}

.student-table__header--circle {
  height: 40px;
  width: 40px;
  border-radius: 59px;
  padding: 10px;
  background: #121625;
  color: #515561;
}
.student-table__header--name {
  margin-right: 40px;
}
