.loginscreen {
  display: flex;
  justify-content: space-around;
  font-family: Raleway;
  height: 100vh;
  padding: 3%;
}

.login__left {
  width: 610px;
  height: 900px;
}

/* css rightside */

.loginrigthside {
  display: flex;
  height: 100%;
}
.loginrigthside__img {
  width: 100%;
}

/* footer */

.loginleftcomponent__footer {
  padding-top: 10vh;
  color: #a5a8b3;
}

@media (max-width: 1400px) {
  .loginscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
  }
}
